body
{
   background-color:#F3E2A9;
}

#pic
{
	height: 300px;
	width:300px;
    border-radius:300px;
    margin-left: 500px;
}
div.heading
{
	text-align: center;
	color:red;
	font-family:"Arial Black";
}